### Data Cleaning

In [45]:
import pandas as pd

In [2]:
cd C:\Users\hp\Downloads

C:\Users\hp\Downloads

In [3]:
data=pd.read_excel(r"Pandas Live Project.xlsx")

In [4]:
data

,Records for Test Matches,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Highest averages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100.0,50.0,0.0,4s,6s
3,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29.0,13.0,7.0,626+,6
4,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4.0,7.0,1.0,141,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15.0,33.0,4.0,525+,23
61,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27.0,38.0,11.0,1165,24
62,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7.0,6.0,1.0,119+,0
63,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6.0,13.0,4.0,241+,5+
64,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48,2110+,25.59,1.0,10.0,2.0,53+,0

In [5]:
data.drop([0,1], inplace=True)

In [6]:
data.dropna()

,Records for Test Matches,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
2,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100.0,50.0,0.0,4s,6s
3,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29.0,13.0,7.0,626+,6
4,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4.0,7.0,1.0,141,23
5,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5.0,4.0,2.0,186,5
6,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7.0,11.0,1.0,246+,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15.0,33.0,4.0,525+,23
61,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27.0,38.0,11.0,1165,24
62,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7.0,6.0,1.0,119+,0
63,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6.0,13.0,4.0,241+,5+
64,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48,2110+,25.59,1.0,10.0,2.0,53+,0

In [7]:
data

,Records for Test Matches,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
2,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100.0,50.0,0.0,4s,6s
3,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29.0,13.0,7.0,626+,6
4,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4.0,7.0,1.0,141,23
5,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5.0,4.0,2.0,186,5
6,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7.0,11.0,1.0,246+,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15.0,33.0,4.0,525+,23
61,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27.0,38.0,11.0,1165,24
62,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7.0,6.0,1.0,119+,0
63,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6.0,13.0,4.0,241+,5+
64,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48,2110+,25.59,1.0,10.0,2.0,53+,0

In [8]:
data.columns=data.loc[2]

In [9]:
data

2,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100.0,50.0,0.0,4s,6s
2,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100.0,50.0,0.0,4s,6s
3,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29.0,13.0,7.0,626+,6
4,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4.0,7.0,1.0,141,23
5,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5.0,4.0,2.0,186,5
6,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7.0,11.0,1.0,246+,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15.0,33.0,4.0,525+,23
61,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27.0,38.0,11.0,1165,24
62,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7.0,6.0,1.0,119+,0
63,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6.0,13.0,4.0,241+,5+
64,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48,2110+,25.59,1.0,10.0,2.0,53+,0

In [10]:
data.columns

Index(['Player',   'Span',    'Mat',   'Inns',     'NO',   'Runs',     'HS',
          'Ave',     'BF',     'SR',    100.0,     50.0,      0.0,     '4s',
           '6s'],
      dtype='object', name=2)

In [11]:
data.columns=['Player',   'Span',    'Mat',   'Inns',     'NO',   'Runs',     'HS',
          'Ave',     'BF',     'SR',    100.0,     50.0,      0.0,     '4s',
           '6s']

In [12]:
data

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100.0,50.0,0.0,4s,6s
2,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100.0,50.0,0.0,4s,6s
3,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29.0,13.0,7.0,626+,6
4,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4.0,7.0,1.0,141,23
5,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5.0,4.0,2.0,186,5
6,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7.0,11.0,1.0,246+,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15.0,33.0,4.0,525+,23
61,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27.0,38.0,11.0,1165,24
62,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7.0,6.0,1.0,119+,0
63,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6.0,13.0,4.0,241+,5+
64,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48,2110+,25.59,1.0,10.0,2.0,53+,0

In [13]:
data.drop(2,inplace=True)

In [14]:
data

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100.0,50.0,0.0,4s,6s
3,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29.0,13.0,7.0,626+,6
4,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4.0,7.0,1.0,141,23
5,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5.0,4.0,2.0,186,5
6,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7.0,11.0,1.0,246+,11
7,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10.0,5.0,2.0,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15.0,33.0,4.0,525+,23
61,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27.0,38.0,11.0,1165,24
62,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7.0,6.0,1.0,119+,0
63,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6.0,13.0,4.0,241+,5+
64,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48,2110+,25.59,1.0,10.0,2.0,53+,0

In [15]:
data.reset_index(inplace=True)

In [16]:
data.drop("index",axis=1,inplace=True)

In [17]:
data

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100.0,50.0,0.0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29.0,13.0,7.0,626+,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4.0,7.0,1.0,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5.0,4.0,2.0,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7.0,11.0,1.0,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10.0,5.0,2.0,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15.0,33.0,4.0,525+,23
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27.0,38.0,11.0,1165,24
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7.0,6.0,1.0,119+,0
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6.0,13.0,4.0,241+,5+
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48,2110+,25.59,1.0,10.0,2.0,53+,0

In [18]:
data["country"]=data["Player"].str.split("(").str[1].str.split(")").str[0]

In [19]:
data

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100.0,50.0,0.0,4s,6s,country
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29.0,13.0,7.0,626+,6,AUS
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4.0,7.0,1.0,141,23,ENG
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5.0,4.0,2.0,186,5,AUS
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7.0,11.0,1.0,246+,11,SA
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10.0,5.0,2.0,104+,1,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15.0,33.0,4.0,525+,23,AUS
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27.0,38.0,11.0,1165,24,ICC/SA
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7.0,6.0,1.0,119+,0,AUS
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6.0,13.0,4.0,241+,5+,AUS
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48,2110+,25.59,1.0,10.0,2.0,53+,0,ENG

In [20]:
data["name"]=data["Player"].str.split("(").str[0]

In [21]:
data

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100.0,50.0,0.0,4s,6s,country,name
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29.0,13.0,7.0,626+,6,AUS,DG Bradman
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4.0,7.0,1.0,141,23,ENG,HC Brook
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5.0,4.0,2.0,186,5,AUS,AC Voges
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7.0,11.0,1.0,246+,11,SA,RG Pollock
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10.0,5.0,2.0,104+,1,WI,GA Headley
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15.0,33.0,4.0,525+,23,AUS,KD Walters
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27.0,38.0,11.0,1165,24,ICC/SA,GC Smith
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7.0,6.0,1.0,119+,0,AUS,WH Ponsford
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6.0,13.0,4.0,241+,5+,AUS,SJ McCabe
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48,2110+,25.59,1.0,10.0,2.0,53+,0,ENG,DR Jardine

In [22]:
data.drop("Player",axis=1,inplace=True)
data

,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100.0,50.0,0.0,4s,6s,country,name
0,1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29.0,13.0,7.0,626+,6,AUS,DG Bradman
1,2022-2023,12,20,1,1181,186,62.15,1287,91.76,4.0,7.0,1.0,141,23,ENG,HC Brook
2,2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5.0,4.0,2.0,186,5,AUS,AC Voges
3,1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7.0,11.0,1.0,246+,11,SA,RG Pollock
4,1930-1954,22,40,4,2190,270*,60.83,416+,56,10.0,5.0,2.0,104+,1,WI,GA Headley
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15.0,33.0,4.0,525+,23,AUS,KD Walters
58,2002-2014,117,205,13,9265,277,48.25,15525,59.67,27.0,38.0,11.0,1165,24,ICC/SA,GC Smith
59,1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7.0,6.0,1.0,119+,0,AUS,WH Ponsford
60,1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6.0,13.0,4.0,241+,5+,AUS,SJ McCabe
61,1928-1934,22,33,6,1296,127,48,2110+,25.59,1.0,10.0,2.0,53+,0,ENG,DR Jardine

In [23]:
data["start_year"]=data["Span"].str.split("-").str[0]
data["end_year"]=data["Span"].str.split("-").str[1]

In [24]:
data.drop("Span",axis=1,inplace=True)

In [25]:
data

,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100.0,50.0,0.0,4s,6s,country,name,start_year,end_year
0,52,80,10,6996,334,99.94,9800+,58.6,29.0,13.0,7.0,626+,6,AUS,DG Bradman,1928,1948
1,12,20,1,1181,186,62.15,1287,91.76,4.0,7.0,1.0,141,23,ENG,HC Brook,2022,2023
2,20,31,7,1485,269*,61.87,2667,55.68,5.0,4.0,2.0,186,5,AUS,AC Voges,2015,2016
3,23,41,4,2256,274,60.97,1707+,54.48,7.0,11.0,1.0,246+,11,SA,RG Pollock,1963,1970
4,22,40,4,2190,270*,60.83,416+,56,10.0,5.0,2.0,104+,1,WI,GA Headley,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,74,125,14,5357,250,48.26,8662+,49.16,15.0,33.0,4.0,525+,23,AUS,KD Walters,1965,1981
58,117,205,13,9265,277,48.25,15525,59.67,27.0,38.0,11.0,1165,24,ICC/SA,GC Smith,2002,2014
59,29,48,4,2122,266,48.22,3118+,44.77,7.0,6.0,1.0,119+,0,AUS,WH Ponsford,1924,1934
60,39,62,5,2748,232,48.21,3217+,60.02,6.0,13.0,4.0,241+,5+,AUS,SJ McCabe,1930,1938
61,22,33,6,1296,127,48,2110+,25.59,1.0,10.0,2.0,53+,0,ENG,DR Jardine,1928,1934

In [26]:
data.columns

Index([       'Mat',       'Inns',         'NO',       'Runs',         'HS',
              'Ave',         'BF',         'SR',        100.0,         50.0,
                0.0,         '4s',         '6s',    'country',       'name',
       'start_year',   'end_year'],
      dtype='object')

In [27]:
data=data[[ 'name', 'country', 'start_year',   'end_year',    'Mat',       'Inns',         'NO',       'Runs',         'HS',
              'Ave',         'BF',         'SR',        100.0,         50.0,
                0.0,         '4s',         '6s']]

In [28]:
data

,name,country,start_year,end_year,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100.0,50.0,0.0,4s,6s
0,DG Bradman,AUS,1928,1948,52,80,10,6996,334,99.94,9800+,58.6,29.0,13.0,7.0,626+,6
1,HC Brook,ENG,2022,2023,12,20,1,1181,186,62.15,1287,91.76,4.0,7.0,1.0,141,23
2,AC Voges,AUS,2015,2016,20,31,7,1485,269*,61.87,2667,55.68,5.0,4.0,2.0,186,5
3,RG Pollock,SA,1963,1970,23,41,4,2256,274,60.97,1707+,54.48,7.0,11.0,1.0,246+,11
4,GA Headley,WI,1930,1954,22,40,4,2190,270*,60.83,416+,56,10.0,5.0,2.0,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters,AUS,1965,1981,74,125,14,5357,250,48.26,8662+,49.16,15.0,33.0,4.0,525+,23
58,GC Smith,ICC/SA,2002,2014,117,205,13,9265,277,48.25,15525,59.67,27.0,38.0,11.0,1165,24
59,WH Ponsford,AUS,1924,1934,29,48,4,2122,266,48.22,3118+,44.77,7.0,6.0,1.0,119+,0
60,SJ McCabe,AUS,1930,1938,39,62,5,2748,232,48.21,3217+,60.02,6.0,13.0,4.0,241+,5+
61,DR Jardine,ENG,1928,1934,22,33,6,1296,127,48,2110+,25.59,1.0,10.0,2.0,53+,0

In [29]:
data[["HS","BF","4s","6s"]]=data[["HS","BF","4s","6s"]].replace("[+*]","",regex=True)

In [30]:
data

,name,country,start_year,end_year,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100.0,50.0,0.0,4s,6s
0,DG Bradman,AUS,1928,1948,52,80,10,6996,334,99.94,9800,58.6,29.0,13.0,7.0,626,6
1,HC Brook,ENG,2022,2023,12,20,1,1181,186,62.15,1287,91.76,4.0,7.0,1.0,141,23
2,AC Voges,AUS,2015,2016,20,31,7,1485,269,61.87,2667,55.68,5.0,4.0,2.0,186,5
3,RG Pollock,SA,1963,1970,23,41,4,2256,274,60.97,1707,54.48,7.0,11.0,1.0,246,11
4,GA Headley,WI,1930,1954,22,40,4,2190,270,60.83,416,56,10.0,5.0,2.0,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters,AUS,1965,1981,74,125,14,5357,250,48.26,8662,49.16,15.0,33.0,4.0,525,23
58,GC Smith,ICC/SA,2002,2014,117,205,13,9265,277,48.25,15525,59.67,27.0,38.0,11.0,1165,24
59,WH Ponsford,AUS,1924,1934,29,48,4,2122,266,48.22,3118,44.77,7.0,6.0,1.0,119,0
60,SJ McCabe,AUS,1930,1938,39,62,5,2748,232,48.21,3217,60.02,6.0,13.0,4.0,241,5
61,DR Jardine,ENG,1928,1934,22,33,6,1296,127,48,2110,25.59,1.0,10.0,2.0,53,0

In [31]:
data[["Mat"]]=data[["Mat"]].replace("[+*]","",regex=True)

In [32]:
data[["BF","SR"]]=data[["BF","SR"]].replace("-",0)

In [33]:
data[['start_year', 'end_year', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'BF', 'SR',
      100.0, 50.0, 0.0, '4s','6s']] = data[['start_year', 'end_year', 'Mat','Inns',    
     'NO',  'Runs', 'HS', 'BF', 'SR', 100.0, 50.0, 0.0, '4s', '6s']].astype(int)

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        62 non-null     object
 1   country     62 non-null     object
 2   start_year  62 non-null     int32
 3   end_year    62 non-null     int32
 4   Mat         62 non-null     int32
 5   Inns        62 non-null     int32
 6   NO          62 non-null     int32
 7   Runs        62 non-null     int32
 8   HS          62 non-null     int32
 9   Ave         62 non-null     object
 10  BF          62 non-null     int32
 11  SR          62 non-null     int32
 12  100.0       62 non-null     int32
 13  50.0        62 non-null     int32
 14  0.0         62 non-null     int32
 15  4s          62 non-null     int32
 16  6s          62 non-null     int32
dtypes: int32(14), object(3)
memory usage: 5.0+ KB

In [35]:
data[["Ave","SR"]]=data[["Ave","SR"]].astype(float)

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        62 non-null     object
 1   country     62 non-null     object
 2   start_year  62 non-null     int32
 3   end_year    62 non-null     int32
 4   Mat         62 non-null     int32
 5   Inns        62 non-null     int32
 6   NO          62 non-null     int32
 7   Runs        62 non-null     int32
 8   HS          62 non-null     int32
 9   Ave         62 non-null     float64
 10  BF          62 non-null     int32
 11  SR          62 non-null     float64
 12  100.0       62 non-null     int32
 13  50.0        62 non-null     int32
 14  0.0         62 non-null     int32
 15  4s          62 non-null     int32
 16  6s          62 non-null     int32
dtypes: float64(2), int32(13), object(2)
memory usage: 5.2+ KB

In [40]:
data.groupby("country").count()

,name,start_year,end_year,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100.0,50.0,0.0,4s,6s
country,,,,,,,,,,,,,,,,
AUS,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16
ENG,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13
ICC/IND,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
ICC/PAK,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
ICC/SA,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
ICC/WI,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
IND,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
NZ,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
PAK,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
SA,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
SL,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
WI,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
ZIM,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [41]:
data.groupby("country").count().index

Index(['AUS', 'ENG', 'ICC/IND', 'ICC/PAK', 'ICC/SA', 'ICC/WI', 'IND', 'NZ',
       'PAK', 'SA', 'SL', 'WI', 'ZIM'],
      dtype='object', name='country')

In [42]:
data.groupby("country").count()["name"]

country
AUS        16
ENG        13
ICC/IND     2
ICC/PAK     1
ICC/SA      2
ICC/WI      1
IND         4
NZ          2
PAK         4
SA          5
SL          3
WI          8
ZIM         1
Name: name, dtype: int64